<h3 class="widget-box--header" id="export-plugin-block">
  <%= op_icon('icon-context icon-download') %>
  <span class="widget-box--header-title"><%= t(:export_plugin_name) %></span>
</h3>

<p class="widget-box--additional-info">
  Provides a link in project settings to download all attachments as a ZIP file.
</p>
